<div class="container text-center">
  <h1>Cocktails Menu</h1>
  <% @cocktails.each do |cocktail| %>
    <h2><%= cocktail.name %></h2>
    <%= link_to "See details", cocktail_path(cocktail), {class: "btn btn-primary"} %></li>
  <% end %>
</div>
